[submodule ".oh-my-zsh-custom/themes/powerlevel10k"]
	path = .oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh-custom/plugins/zsh-completions"]
	path = .oh-my-zsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "/Users/patrikchadima/.oh-my-zsh-custom/plugins/fzf-zsh-plugin"]
	path = /Users/patrikchadima/.oh-my-zsh-custom/plugins/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin.git
[submodule "/Users/patrikchadima/.config/nvim"]
	path = /Users/patrikchadima/.config/nvim
	url = https://github.com/Hy3n4/kickstart.nvim.git
